<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Library/iziModal.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/Main.css') }}"> <!-- Flask fait le lien avec le css -->
    <title>Accueil</title>
</head>
<body>

    {% include  "components/header.html" %}
    {% include  "components/Information.html" %}

    <div id="corp">
        
        <section id="blocGaucheCorpAccueil">
            
            {% for poste in posteArray %}
                <div class="blocGif">
                    <div class="infoUserPoste">

                    </div>
                    <div class="blocLegendImagePoste">
                        <legend>{{ poste.titrePoste }}</legend>
                        <img src="{{ poste.adressePoste }}" class="gif" alt="test">
    
                        
                    </div>
                    <div class="partagePoste">
                        <button class="btnPartagePoste btn-hover btn-focus-disabled"><img class="imgBtnPartagePoste" src="../static/img/link-ico.png" alt=""></button>
                        <button class="btnPartagePoste btn-hover btn-focus-disabled"><img class="imgBtnPartagePoste" src="../static/img/like-ico.png" alt=""></button>
                        <button class="btnPartagePoste btn-hover btn-focus-disabled"><img class="imgBtnPartagePoste" src="../static/img/Facebook-ico.png" alt=""></button>
                        <button class="btnPartagePoste btn-hover btn-focus-disabled"><img class="imgBtnPartagePoste" src="../static/img/commentaire-ico.png" alt=""></button>
                        <button class="btnPartagePoste btn-hover btn-focus-disabled"><img class="imgBtnPartagePoste" src="../static/img/twitter-ico.png" alt=""></button>
                    </div>
                </div>
            {% endfor %}


            <div id="RowChangePage">
                {% if page == null %}
                    <div class="changePageBlocDroit">
                        <a class="changePageLink" href="/page2">Suivant</a>
                    </div>

                {% else %}
                        <div class="changePageBlocGauche">
                            {% if page-1 >= 1 %}
                            <a class="changePageLink" href="/page{{ page-1 if page-1 >= 1 else '1' }}" >Precedent</a>
                            {% endif %}
                        </div>
                    {% if page+1 <= NbPageMax %}
                        <div class="changePageBlocDroit">
                            <a class="changePageLink" href="/page{{ page+1 }}">Suivant</a>
                        </div>
                    {% endif %} 
                {% endif %} 
            </div>

        </section>
        <div id="blocDroitCorpAccueil">


            {% if user != null%}
                <a href="/CreationDePoste" id="btnLinkCreationPoste">Poster</a>
            {% endif %}     


            {% include  "components/Connexion.html" %}


        </div>

    </div>



    <footer>
        <h2></h2>
    </footer>

    <button id="buttonTheme">☽</button>

</body>

<script src="../static/js/Library/jquery.min.js"></script>
<script src="../static/js/Library/iziModal.min.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>

</html>