<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Library/izmir.min.css">
    <link rel="stylesheet" href="../static/css/Library/iziModal.min.css">
    <link rel="stylesheet" href="../static/css/Library/cssanimation.min.css">
    <link rel="stylesheet" href="../static/css/Library/catto.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/Main.css') }}">

    <title>Accueil</title>
</head>
<body>

    <p id="test"></p>
    {% include  "components/header.html" %}
    {% include  "components/Information.html" %}

    <div id="corp">
        
        <section id="blocGaucheCorpAccueil">
            
            {% for poste in posteArray %}
                <div class="blocGif" >

                    <div class="partagePoste">
                        <button onclick="CopyLinkImage(this)" data-izimodal-open="#modal_CopieOK" class="h-jello btnPartagePoste btn-hover btn-focus-disabled animate__animated"><img class="imgBtnPartagePoste" src="../static/img/link-ico.png" alt=""></button>
                        <button class="h-jello btnPartagePoste btn-hover btn-focus-disabled"><img class="imgBtnPartagePoste" src="../static/img/like-ico.png" alt=""></button>
                        <button onclick="AjaxTest()" class="h-jello btnPartagePoste btn-hover btn-focus-disabled"><img class="imgBtnPartagePoste" src="../static/img/Facebook-ico.png" alt=""></button>
                        <button class="h-jello btnPartagePoste btn-hover btn-focus-disabled "><img class="imgBtnPartagePoste" src="../static/img/commentaire-ico.png" alt=""></button>
                        <button class="h-jello btnPartagePoste btn-hover btn-focus-disabled"><img class="imgBtnPartagePoste" src="../static/img/twitter-ico.png" alt=""></button>
                    </div>

                    <div class="blocLegendImagePoste">
                        <legend>{{ poste.titrePoste }}</legend>

                        <figure class="c4-izmir c4-border-center c4-gradient-left c4-image-blur figuregif">
                            <img src="{{ poste.adressePoste }}" class="gifSize">
                            <figcaption>
                                <div class="c4-reveal-down">
                                    <h3>
                                        {{poste.PseudoUtilisateurPoste}}
                                    </h3>
                                </div>
                                <div class="c4-reveal-up">
                                    <h4>{{poste.datePoste}}</h4>
                                </div>
                            </figcaption>
                        </figure>
                    </div>

                    <div class="outilsAdmin">
                        <button class="h-jello btnPartagePoste btn-hover btn-focus-disabled"><img class="imgBtnPartagePoste" src="../static/img/admin-ico.png" alt=""></button>
                    </div>

                </div>
            {% endfor %}
            <div id="RowChangePage">




                {% if page == null %}
                    <div class="changePageBlocGauche">
                    </div>
                    <div class="changePageBlocDroit">
                        <a class="changePageLink" href="/page2">Suivant</a>
                    </div>

                {% else %}
                        <div class="changePageBlocGauche">
                            {% if page-1 >= 1 %}
                            <a class="changePageLink" href="/page{{ page-1 if page-1 >= 1 else '1' }}" >Precedent</a>
                            {% endif %}
                        </div>
                    {% if page+1 <= NbPageMax %}
                        <div class="changePageBlocDroit">
                            <a class="changePageLink" href="/page{{ page+1 }}">Suivant</a>
                        </div>
                    {% endif %} 
                {% endif %} 


            </div>

        </section>
        <div id="blocDroitCorpAccueil">


            {% if user != null%}
                <a href="/CreationDePoste" class="a-jello" id="btnLinkCreationPoste">Poster</a>
            {% endif %}     


            {% include  "components/Connexion.html" %}


        </div>

    </div>
    <div id="modal_CopieOK"> <!-- data-iziModal-fullscreen="true"  data-iziModal-title="Welcome"  data-iziModal-subtitle="Subtitle"  data-iziModal-icon="icon-home" -->
        <!-- Modal content -->
        <div class="conteneurModal">
            <img id="imgModal" src="../static/img/Check-gif.gif" alt="">
            <p>Le lien a été Copié!!</p>
            <a href="javascript:void(0)" class="iziModal-button iziModal-button-close" data-izimodal-close=""></a>
        </div>
    </div>    

    <footer>
        <h2></h2>
    </footer>

    <button id="buttonTheme">☽</button>

</body>

<script src="../static/js/Library/jquery.min.js"></script>
<script src="../static/js/Library/iziModal.min.js"></script>
<script type="text/javascript" src="../static/js/Library/letteranimation.min.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>

</html>