{% extends "heritageJinja/base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/Library/component.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/Administration.css') }}">

{% endblock %}

{% block title %}Administration{% endblock %}

{% block content %}
    <div id="tabs" class="tabs">
        <nav class="nav-style">
            <ul>
                <li><a href="#section-1" class="icon-role"><span>Attribution rôle</span></a></li>
                <li><a href="#section-2" class="icon-moderation"><span>Mode modération</span></a></li>
                <li><a href="#section-3" class="icon-info"><span>message information</span></a></li>
            </ul>
        </nav>
        <div class="content">
            <section id="section-1">
                {% for  otherUser in allUser %}

                    <div class="mediabox BoxMediaStyle">

                        <div class="blocImgAndNomUserAttributionRole">
                            <img src="../static/img/admin-ico.png" class="imgAttributionRole"/>
                            <h3 class="nomUserAttributionRole">{{ otherUser.PseudoUtilisateur }} </h3>
                        </div>

                        <div>
                            <form action="/changement_role" method="POST" >
                                <div class="divRowAllInput">
                                    <div class="rowInputChangeRole">
                                        <label for="Posteur{{ otherUser.IdUtilisateur  }}">Posteur</label>
                                        <input type="radio" name="roleUtilisateur{{ otherUser.IdUtilisateur  }}" value="Posteur" id="Posteur{{ otherUser.IdUtilisateur  }}" required {{ "checked" if otherUser.IdRoleUtilisateur==1  }} class="radioButtton-Posteur">
                                    </div>
                                    <div class="rowInputChangeRole">
                                        <label for="Moderateur{{ otherUser.IdUtilisateur  }}">Modérateur</label>
                                        <input type="radio" name="roleUtilisateur{{ otherUser.IdUtilisateur  }}" value="Modérateur" id="Moderateur{{ otherUser.IdUtilisateur  }}" required {{ "checked" if otherUser.IdRoleUtilisateur==2  }} class="radioButtton-Moderateur">
                                    </div>
                                    <div class="rowInputChangeRole">
                                        <label for="Administrateur{{ otherUser.IdUtilisateur  }}">Administrateur</label>
                                        <input type="radio" name="roleUtilisateur{{ otherUser.IdUtilisateur  }}" value="Administrateur" id="Administrateur{{ otherUser.IdUtilisateur  }}" required {{ 'checked' if otherUser.IdRoleUtilisateur==3  }} class="radioButtton-Administrateur">
                                    </div>
                                </div>
                                <div class="divEnvoyerRoleUtilisateur">
                                    <!-- <button type="button" class="btn-classique lien-Btn lien-Btn-size" value="Modifier" >Reset password</button>
                                    <button type="button" class="btn-classique lien-Btn lien-Btn-size" value="Modifier" >Bannir</button> -->
                                    <button type="button" class="btn-classique lien-Btn lien-Btn-size" value="Modifier" onclick="openModalChangeRole('{{ otherUser.IdUtilisateur  }}','{{ otherUser.PseudoUtilisateur }}', '{{ otherUser.NomRole }}' )">Modifier rôle</button>
                                    <input hidden type="button" id="OpenModal{{ otherUser.IdUtilisateur  }}" data-izimodal-open="#modal_changeRole" data-izimodal-transitionin="fadeInDown"/>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </section>
            <section id="section-2">

                <div class="conteneurModeModeration">
                    <p id="msgModeModeration">Le mode modération est :</p>
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" tabindex="0" {{  "checked" if isModeModeractionActive != NONE and isModeModeractionActive  }} >
                        <label class="onoffswitch-label" for="myonoffswitch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                    <button class="btn-classique" onclick="openModalModeModeration('myonoffswitch','{{ isModeModeractionActive }}')">VALIDER</button>
                    <input hidden type="button" id="OpenModalModeModeration" data-izimodal-open="#modalModeModeration" data-izimodal-transitionin="fadeInDown"/>
                </div>
                <p id="msgErrorModeModeration"></p>
            </section>

            <section id="section-3">

                <div class="mediabox ">
                    <textarea name="txtAreaMsgInfo" id="txtAreaMsgInfo"  placeholder="Écrivez votre Message ici, 255 caractères max..." maxlength="255" cols="30" rows="10"></textarea>
                </div>
                <div class="mediabox" id="divValideMsgInfo">
                    <button class="btn-classique" data-izimodal-open="#modalMsgInfo" data-izimodal-transitionin="fadeInDown">ENVOYER MESSAGE</button>
                </div>

            </section>
        </div><!-- /content -->
    </div><!-- /tabs -->


<div id="modal_changeRole" class="modal" data-iziModal-title="Changement sur utilisateur"  data-iziModal-subtitle="Vous allez changer une information sur l'utilisateur"  data-iziModal-icon="icon-home">
    
    <p id="msgRappel_changeRole" class="paragrapheChangeRole"></p>
    <p id="msgAncienRole_changeRole" class="paragrapheChangeRole"></p>
    <p id="msgNouveauRole_changeRole" class="paragrapheChangeRole"></p>

    <div id="conteneur-modal">
        <input type="password" class="input-modal" placeholder="Votre mots de passe" id="mdpChangeRole">
        <div class="msgInModal" id="msgInchangeRole"></div>
    </div>
    <div id="conteneur-ChoiceModal">
        <button class="btnModal cancel h-transLeft" data-izimodal-close="">Annuler</button>
        <button class="btnModal submit h-transRight" id="btnValideChangeRole">Valider</button>
    </div>
</div>

<div id="modalMsgInfo" class="modal" data-iziModal-title="Message information"  data-iziModal-subtitle="Envoi message dans la rubrique information"  data-iziModal-icon="icon-home">
    
    <div id="conteneur-modal">
        <input type="password" class="input-modal" placeholder="Votre mots de passe" id="mdpMsgInfo">
        <div class="msgInModal" id="msgInModalMsgInfo"></div>
    </div>

    <div id="conteneur-ChoiceModal">
        <button class="btnModal cancel h-transLeft" data-izimodal-close="">Annuler</button>
        <button class="btnModal submit h-transRight" onclick="sendMsgInformation('msgInModalMsgInfo')" id="btnValideMsgInfo">Valider</button>
    </div>

</div>

<div id="modalModeModeration" class="modal" data-iziModal-title="Mode modération"  data-iziModal-subtitle="Change le mode de modération du site"  data-iziModal-icon="icon-home">
    
    <p id="msgRappeModeModeration" class="paragrapheModeModeration"></p>
    <p id="msgNouveauRole_ModeModeration" class="paragrapheModeModeration"></p>

    <div id="conteneur-modal">
        <input type="password" class="input-modal" placeholder="Votre mots de passe" id="mdpModeModeration">
        <div class="msgInModal" id="msgInModalModeModeration"></div>
    </div>

    <div id="conteneur-ChoiceModal">
        <button class="btnModal cancel h-transLeft" data-izimodal-close="">Annuler</button>
        <button class="btnModal submit h-transRight" onclick="sendModeModeration('msgInModalModeModeration','myonoffswitch')" id="btnValideModeModeration">Valider</button>
    </div>

</div>
{% endblock %}


{% block js %}
    <script src="{{ url_for('static', filename= 'js/Library/cbpFWTabs.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/common.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/Administration.js') }}"></script>
{% endblock %}