{% extends "heritageJinja/base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/Contact.css') }}">
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
    <h1>Contact</h1>


    <p>Malheureusement nous n'avons pas eut le temps de commit cette page donc ce gif et cette email devrons faire l'affaire en attendant.</p>

    <h2>🖂 ff-dev@outlook.fr</h2>
    <img class="imgContact" src="https://media.giphy.com/media/3o7aCTfyhYawdOXcFW/giphy.gif">

    <ul>
        <h2>Vous pouvez nous contacter pour :</h2>
        <li>Votre mot de passe perdu</li>
        <li>Un litige sur un poste</li>
        <li>Une question sur les prochaines features</li>
        <li>Nous offrir un café !😋</li>
    </ul>

    <img class="imgContact" src="">



{% endblock %}

{% block js %}
{% endblock %}
