{% extends "heritageJinja/base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/Contact.css') }}">
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
    <h1>Contact</h1>


    <p>Malheureusement nous n'avons pas eut le temps de commit cette page donc ce gif et cette email devrons faire l'affaire en attendant.</p>

    <p>Vous pouvez nous contacter en cas de :</p>
    <ul>
        <li>Mot de passe perdu</li>
        <li>Litige sur un poste</li>
        <li>Question sur les prochaines features</li>
        <li>Nous offrir un café !</li>
    </ul>

    <img class="imgContact" src="">



{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename= 'js/.js') }}"></script>
{% endblock %}
