<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/Main.css') }}">
    <title>Creation de poste</title>
</head>
<body>
    {% include  "components/header.html" %}
    <div id="conteneurCreationPoste">
        <form action="/" method="" onsubmit="return EnvoyerOuPas()"  id="formPosteGIf">
            <div class="rowForm">
                <label for="LienImg">Titre du poste :</label>
                <input type="text" oninput="changeApercu(this,'apercuLegend')" name ="TitrePoste" id="TitrePoste">
            </div>
            <div class="rowForm">
                <label for="LienImg">Lien img / gif :</label>
                <input type="text" oninput="changeApercu(this,'apercuImg')" name ="LienImg" id="LienImg">
            </div>
            <button>ENVOYER</button>
        </form>

        <div id="posteApercu">
            <h2>APERCU DU POSTE</h2>
            <div id="apercuBlocGif">
                <img src="" class="gif" id="apercuImg" onerror="this.style.display='none'">
                <legend id="apercuLegend"></legend>
            </div>
        </div>
        
    </div>
    
    <footer>
        <h2></h2>
    </footer>

    <button id="buttonTheme">☽</button>
</body>
<script src="{{ url_for('static', filename= 'js/main.js') }}"></script>
</html>