<!DOCTYPE html>

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Library/iziModal.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/Main.css') }}">
    <title>Mon compte</title>
</head>
<body>
    

    {% include  "components/header.html" %}

    {% if user!= null%}
            <form action="/logOut" method="GET" id="gestionCompte">

                <div class="rowForm">
                    <label for="pseudo">Pseudo :</label>
                    <input type="text" name="pseudo" value="{{ user.PseudoUtilisateur }}" disabled>
                    <button class="btn-classique" type="button" data-izimodal-open="#modal_changementPseudo" data-izimodal-transitionin="fadeInDown">Changer pseudo</button>
                </div>

                <div class="rowForm">
                    <label for="pseudo">Nom :</label>
                    <input type="text" name="pseudo" value="{{ user.NomUtilisateur }}" disabled>
                </div>
                <div class="rowForm">
                    <label for="pseudo">Prenom:</label>
                    <input type="text" name="pseudo" value="{{ user.PrenomUtilisateur }}" disabled>
                </div>
                <div class="rowForm">
                    <label for="pseudo">Age :</label>
                    <input type="text" name="pseudo" value="{{ user.AgeUtilisateur }}" disabled>
                </div>
                <div class="rowForm">
                    <button class="btn-classique">Deconnexion</button>
                    <button class="btn-classique" type="button" data-izimodal-open="#modal_changementMotDePasse" data-izimodal-transitionin="fadeInDown">Changer mot de passe</button>
                    <button class="btn-classique">Enregistrer</button>
                </div>

            </form>

            <!-- MODAL POUR LE CHANGEMENT DE PSEUDO -->
            <div id="modal_changementPseudo" data-iziModal-title="Changer votre pseudo"  data-iziModal-subtitle="Changer votre pseudo puis cliquez sur valider ou annuler"  data-iziModal-icon="icon-home">
                <div id="conteneur-modal">
                    <input type="text" class="input-modal" value="{{ user.PseudoUtilisateur }}" disabled>
                    <input type="text" class="input-modal" placeholder="Nouveau Pseudo">
                </div>
                <div id="conteneur-ChoiceModal">
                    <button class="btnModal cancel">Annuler</button>
                    <button class="btnModal submit">Valider</button>
                </div>
            </div>

            <div id="modal_changementMotDePasse" data-iziModal-title="Changer votre mot de passe"  data-iziModal-subtitle="Changer votre mots de passe puis cliquez sur valider ou annuler"  data-iziModal-icon="icon-home">
                <div id="conteneur-modal">
                    <input type="text" class="input-modal" placeholder="Ancien mot de passe">
                    <input type="text" class="input-modal" placeholder="Nouveau mot de passe">
                    <input type="text" class="input-modal" placeholder="Confirmation Nouveau mot de passe">
                </div>
                <div id="conteneur-ChoiceModal">
                    <button class="btnModal cancel">Annuler</button>
                    <button class="btnModal submit">Valider</button>
                </div>
            </div>


    {% endif %} 

    <footer>
        <h2></h2>
    </footer>

    <button id="buttonTheme">☽</button>
</body>

<script src="../static/js/Library/jquery.min.js"></script>
<script src="../static/js/Library/iziModal.min.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
<script type="text/javascript" src="../static/js/gestionDeCompte.js"></script>

</html>