{% extends "heritageJinja/base.html" %}

{% block css %} 
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/inscription.css') }}"> 
{% endblock %}

{% block title %}Inscription{% endblock %}

{% block content %}
    <form action="/confirmation_inscription" method="POST" id="FormInscription" onsubmit="return EnvoiFormulaireInscription()">
        
        <div class="rowFormInscription">
            <label class="labelInscription" for="NomFormulaireInscription">Nom* :</label>
            <input class="inputFormInscription" id="NomFormulaireInscription" type="text" minlength="2" maxlength="30" required placeholder="DOE"  name="nom">
        </div>

        <div class="rowFormInscription">
            <label class="labelInscription" for="PrenomFormulaireInscription">Prenom* :</label>
            <input class="inputFormInscription" id="PrenomFormulaireInscription" type="text" minlength="2" maxlength="30" required  placeholder="John"  name="prenom">
        </div>

        <div class="rowFormInscription">
            <label class="labelInscription" for="PseudoFormulaireInscription">Pseudo* :</label>
            <input class="inputFormInscription" id="PseudoFormulaireInscription" type="text"   minlength="3" maxlength="15" required  placeholder="3 caractères mininum, 15 maximum" name="pseudo">
        </div>

        <div class="rowFormInscription rowMotdePasse-Message" >
            <div class="ligneMotsPasse">
                <label class="labelInscription" for="mot_de_passe">Mots de passe* :</label>
                <input class="inputFormInscription"  type="password"  name="motdepasse"  minlength="8" required  placeholder="********" id="mot_de_passe">
            </div>
            <div class="ligneMsgMotsPasse">
                <p class="paragrapheInfoMotPasseInscription">8 caractères dont 1 majuscule,1 mininuscule, 1 chiffre, 1 caractère spécial</p>
            </div>
        </div>

        <div class="rowFormInscription rowMotdePasse-Message">
            <div class="ligneMotsPasse">
                <label class="labelInscription" for="confirm_mdp">Confirmation mots de passe* :</label>
                <input class="inputFormInscription" type="password"  name="confirm_mdp"  minlength="8" required  placeholder="********" id="confirm_mdp">
            </div>
            <div class="ligneMsgMotsPasse">
                <p class="paragrapheInfoMotPasseInscription">8 caractères dont 1 majuscule,1 mininuscule, 1 chiffre, 1 caractère spécial</p>
            </div>
        </div>

        <div class="rowFormInscription">
            <label class="labelInscription" for="dateNaissance">Date de naisssance* :</label>
            <input class="inputFormInscription" type="date" id="dateNaissance" min="1900-01-01" required name="datenaissance">
        </div>

        <button class="btn-classique btnValideInscription">ENVOYER</button>
        <p id="msgErrorConfirmationInscription">{{ error if error!= null}}</p>
    </form>
    {% endblock %}

    {% block js %}
        <script src="{{ url_for('static', filename= 'js/inscription.js') }}"></script>
    {% endblock %}