{% extends "heritageJinja/base.html" %}

{% block css %} 
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/inscription.css') }}"> 
{% endblock %}

{% block title %}Inscription{% endblock %}

{% block content %}

    <form action="ConfirmationInscription" method="POST" id="FormInscription" onsubmit="return EnvoiFormulaireInscription()">
        <div class="rowFormInscription">
            <label for="">Nom :</label>
            <input class="inputFormInscription" id="NomFormulaireInscription" type="text" required name="nom">
        </div>
        <div class="rowFormInscription">
            <label for="">Prenom :</label>
            <input class="inputFormInscription" id="PrenomFormulaireInscription" type="text" required name="prenom">
        </div>
        <div class="rowFormInscription">
            <label for="">Pseudo :</label>
            <input class="inputFormInscription" id="PseudoFormulaireInscription" type="text" required name="pseudo">
        </div>
        <div class="rowFormInscription">
            <label for="">Mots de passe :</label>
            <input class="inputFormInscription"  type="password" required name="motdepasse" id="mot_de_passe">
        </div>
        <div class="rowFormInscription">
            <label for="">Confirmation mots de passe :</label>
            <input class="inputFormInscription" type="password" required name="confmdp" id="confirm_mdp">
        </div>
        <div class="rowFormInscription">
            <label for="">Date de naisssance :</label>
            <input class="inputFormInscription" type="date" required name="datenaissance">
        </div>
        <button onclick="EnvoiFormulaireInscription(), ChampsVide()"> envoyer</button>
        {% if error!= null %}
            <p id="msgErrorConfirmationInscription">{{ error }}</p>
        {% endif %}
    </form>
    {% endblock %}

    {% block js %}
        <script src="{{ url_for('static', filename= 'js/inscription.js') }}"></script>
    {% endblock %}