<!-- Rappel : PAM = Poste Attente Modération  -->

{% extends "heritageJinja/base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/Moderation.css') }}"> 
{% endblock %}

{% block title %}Moderation{% endblock %}

{% block content %}
    <h2 id="msgIsModeModerationActive">le mode moderation est actuellement: <span id="etatModeModeration"> {{ 'ACTIVÉ' if is_mode_moderation_actif else 'DÉSACTIVÉ'}} </span></h2>
    
    {% if postes_attente_moderation|length ==0 %}
        <h3 id="msgAucunPoste">AUCUN POSTE A MODÉRER</span></h2>
    {% endif %}

    {% for poste in postes_attente_moderation %}
        <div class="BlocPAM">
            <h3 id="titrePAM{{poste.IdPAM }}" class="titrePAM">{{ poste.TitrePAM }} </h3>
            <div class="img-User-InfosPAM">
                <img src="{{ poste.AdressePAM }}" class="imgPAM">

                <figcaption class="legendImgPAM">
                    <h3 class="H3pseudoUserPAM">{{ 'Vous' if user.IdUtilisateur == poste.UserIdPAM else poste.UserPseudoPAM }}</h3>
                    <h4 class="H4DatePAM">{{ poste.DatePAM }}</h4>
                    <h4 class="H4RolePAM">{{ poste.UserNomRole }}</h4>
                </figcaption>
            </div>
            <div class="blocValidPAM">
                <button class="btn-PAM" id="btnRefusePAM" onclick="choixValidPAM(false,'{{poste.IdPAM }}')">✖</button>
                <button class="btn-PAM" id="btnAcceptePAM" onclick="choixValidPAM(true,'{{poste.IdPAM }}')">✔</button>
                <button class="btn-PAM btnChangeTitre" id="btnChangeTitlePAM{{poste.IdPAM }}" onclick="changeTitrePAM('{{poste.IdPAM }}')">change titre</button>
                {% if poste.UserRolePAM < user.IdRoleUtilisateur %}
                    <button class="btn-PAM" id="btnBanUserPAM"  onclick="openModalBanUser('{{ poste.UserIdPAM}}', '{{ poste.UserPseudoPAM}}')" title="BANNIR L'UTILISATEUR">😓</button>
                {% endif %}
            </div>
        </div>

    {% endfor %}

    <div id="RowChangePage">
        {% if page == null %}
            <div class="changePageBlocGauche">
            </div>
            <div class="changePageBlocDroit">
                <a class="btn-changePagePAM" href="/Moderation2">Suivant</a>
            </div>

        {% else %}
                <div class="changePageBlocGauche">
                    {% if page-1 >= 1 %}
                    <a class="btn-changePagePAM" href="/Moderation{{ page-1 if page-1 >= 1 else '1' }}" >Precedent</a>
                    {% endif %}
                </div>


                <div class="changePageBlocDroit">
                    {% if page+1 <= nb_page_max %}
                        <a class="btn-changePagePAM" href="/Moderation{{ page+1 }}">Suivant</a>
                    {% endif %}     
                </div>

        {% endif %} 
    </div>





    <div id="modalPAM" class="modal" data-iziModal-title="Banissement utilisateur"  data-iziModal-subtitle="Vous permets de bannir l'utilisateur"  data-iziModal-icon="icon-home">
    
        <p id="msgRappePAM" class="paragraphePAM"></p>
        <p id="msgNouveauRole_PAM" class="paragraphePAM"></p>
    
        <div id="conteneur-modal">
            <input type="password" class="input-modal" placeholder="Votre mots de passe" id="mdpPAM">
            <div class="msgInModal" id="msgInModalPAM"></div>
        </div>
    
        <div id="conteneur-ChoiceModal">
            <button class="btnModal cancel h-transLeft" data-izimodal-close="">Annuler</button>
            <button class="btnModal submit h-transRight" id="btnValidePAM">Valider</button>
        </div>
    
    </div>

    <div id="modalConfirmationStatusChoixPAM" class="modal" data-iziModal-title="Modération poste"  data-iziModal-subtitle="Change le status du poste"  data-iziModal-icon="icon-home">
    
        <p id="msgRappeConfirmationStatusChoixPAM" class="paragrapheConfirmationStatusChoixPAM">Êtes vous sur ? Le poste va être :</p>
        <p id="msgConfirmationStatusChoixPAM" class="paragrapheConfirmationStatusChoixPAM"></p>
    
        <div id="conteneur-modal">
            <div class="msgInModal" id="msgInModalConfirmationStatusChoixPAM"></div>
        </div>
    
        <div id="conteneur-ChoiceModal">
            <button class="btnModal cancel h-transLeft" data-izimodal-close="">Annuler</button>
            <button class="btnModal submit h-transRight" id="btnValideConfirmationStatusChoixPAM">Valider</button>
        </div>
    
    </div>

    <div id="modalChangementTitrePoste" class="modal" data-iziModal-title="Changement titre"  data-iziModal-subtitle="Changer le titre du poste ?"  data-iziModal-icon="icon-home">
    
        <p id="msgAncienTitrePoste" class="paragrapheChangementTitrePoste">L'ancien titre :</p>
        <p id="AncienTitrePoste" class="paragrapheChangementTitrePoste"></p>
    
        <div id="conteneur-modal">
            <input type="text" class="input-modal" id="NouveauTitrePoste" maxlength="90">
            <input type="password" class="input-modal" placeholder="Votre mot de passe" id="mdpChangementTitrePoste">
            <div class="msgInModal" id="msgInModalChangementTitrePoste"></div>
        </div>
    
        <div id="conteneur-ChoiceModal">
            <button class="btnModal cancel h-transLeft" data-izimodal-close="">Annuler</button>
            <button class="btnModal submit h-transRight" id="btnValideChangementTitrePoste">Valider</button>
        </div>

    </div>

{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename= 'js/Moderation.js') }}"></script>
{% endblock %}