{% extends "heritageJinja/base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/Transition.css') }}"> 
{% endblock %}

{% block title %}informations{% endblock %}

{% block content %}

    <h2> {{ message }} </h2>

    {% if redirect !=null and redirect ==True %}
        <p>redirection vers l'accueil dans <span id="secondeRedirect">5</span>s ...</p>
    {% endif %}

    {% if image_confirm !=null %}
        <img class="imgTransition" src="{{ image_confirm }}">
    {% endif %}

{% endblock %}

{% block js %}
    {% if redirect !=null and redirect ==True %}
        <script>
            var timeleft = 5;
            var downloadTimer = setInterval(function(){
                timeleft--;
                document.getElementById("secondeRedirect").textContent = timeleft;
                if(timeleft <= 0)
                    clearInterval(downloadTimer);
            },1000);
            setTimeout(function(){
                window.location.href = "/";
            },5000);
        </script>
    {% endif %}

{% endblock %}
