<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/styleError.css"/>
    <link rel="stylesheet" href="../../static/css/Main.css"/>
    <!-- Flask fait le lien avec le css -->
    <title>Document</title>
    </head>
    <body>
        {% include  "components/header.html" %}

        <div id="corp">
            <section id="Main">
                <p class="messageError">L'identifiant ou le mots de passe est incorrect</p>
            </section>
        {% include  "components/Connexion.html" %}
        </div>
        
        <footer></footer>

        <button id="buttonTheme">☽</button>
    </body>
    <script type="text/javascript" src="static/js/main.js"></script>
</html>
