<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/Library/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/Library/iziModal.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/Library/cssanimation.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/Library/catto.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/common.css') }}">

    {% block css %}

    {% endblock %}

    
    <title>{% block title %}base{% endblock %}</title>
</head>
<body>
    <div class="col-md-11 bodyConteneur">
        {% include  "components/header.html" %}
        {% include  "components/Information.html" %}

        <div class="conteneur">
            {% block content %}
            

            {% endblock %}
        </div>

        <div id="footer">
            {% block footer %}
                <!--  &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>. -->
            {% endblock %}
        </div>


    </div>

    {% if user != null%}
        <div>
            <select id="SelectMenu" class="h-jello btnPartagePoste" onchange="selectMenu(this)" >
                <option value="" selected disabled>-- Que souhaitez vous faire !? --</option>
                <option class="optionModerationAccueil" value="/CreationDePoste">Poster</option>
                <option class="optionModerationAccueil" value="/logout">Deconnexion</option>                                   
            </select>
        </div>  
    {% endif %}            
</body>
    <script type="text/javascript" src="{{ url_for('static', filename= 'js/Library/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename= 'js/Library/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename= 'js/Library/iziModal.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/common.js') }}"></script>
    {% block js %}{% endblock %}

</html>