.PseudoUserAttributionRole{
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: red;
}
.conte{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.imgAttributionRole{
    height: 20px;
    width: 20px;
    margin: 0;
    margin-right: 15px;
    padding: 0px;
    font-size: 2.5vmax;
}

h3{
    margin: 0px;
    padding: 0px;
}
img{
    margin: 0px;
    padding: 0px;
}

.divRowAllInput{
    display: flex;
    justify-content: space-around;
    font-size: 1.5vmax;
}

.divEnvoyerRoleUtilisateur{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:10px 0 10px 0 ;
}

.BoxMediaStyle{
    border :1px solid black;
    background: lightskyblue;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.radioButtton-Posteur:checked:after{
    background-color: #f8f399;
}
.radioButtton-Moderateur:checked:after{
    background-color: #bf00ff;
}
.radioButtton-Administrateur:checked:after{
    background-color: #468334;
}

/* ====== MODAL ===== */
.modal{
    height: 400px;
    width: 500px;
    max-height: 100%;
    max-width: 100%;
}
.paragrapheChangeRole{
    height: auto;
    margin: 20px;
    font-size: 1.2vmax;
}

.RoleAccentuation{
    font-weight: bold;
}
@media screen and (max-width: 52.375em) {
    .divRowAllInput{
        font-size: 15px;
    }
    .divEnvoyerRoleUtilisateur{
        height: 50px;
        padding:0 ;
    }
}