#FormInscription{
    width: 50%;
    border: 1px solid black;
    background: var(--myTheme);
    height: 70%;
}

.rowFormInscription{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    margin: 15px;
}
.inputFormInscription{
    border: 0px;
    border-bottom:1px;
    border-color: black;
    border-style: inset;
    background: transparent;
    font-size: 1.2em;
}
.inputFormInscription:focus{
    outline: none;
}