
#FormInscription{
    width: 90%;
    border: 1px solid black;
    background: var(--myTheme);
    height: 80%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.rowFormInscription{
    width: 95%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    margin: 15px;
}
.rowMotdePasse-Message{
    flex-direction: column;
}
.ligneMotsPasse{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.ligneMsgMotsPasse{
    width: 100%;
    color: gray;
    font-size: 14px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.paragrapheInfoMotPasseInscription{
    margin: 0;
    padding-top: 10px;
}
.labelInscription{
    font-weight: bold;
}
.inputFormInscription{
    border: 0px;
    border-bottom:1px;
    border-color: black;
    border-style: inset;
    background: transparent;
    font-size: 1.2vmax; 
    width: 50%;
}
.inputFormInscription:focus{
    outline: none;
}
.btnValideInscription{
    width: 40%;
    height: 40px;
    font-size: 20px;
    margin: 50px 0 50px 0;
}

#msgErrorConfirmationInscription{
    height: auto;
    min-height: 20px;
    color: red;
    font-size: 20px;
    text-align: center;
}
.rowInfo{
    height: 10px;
    font-size: 16px;
    color: lightgrey;
    display: flex;
    justify-content: flex-end;
}
@media screen and (max-width: 960px) { 
    #FormInscription{
        width: 100%;
    }
    .rowFormInscription{
        flex-direction: column;
        width: 90%;
    }
    .ligneMotsPasse{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .btnValideInscription{
        margin: 50px 0 50px 0;
    }
    .inputFormInscription{
        width: 90%;
        font-size: 20px;   
    }
    .labelInscription{
        text-align: center;
    }
}

@media screen and (max-width: 960px) { 
    .paragrapheInfoMotPasseInscription{
        text-align: center;
    }
}