:root{
    --myBlack: rgb(30, 30, 30);
    --myWhite:rgb(240, 240, 240);
    --myTheme:#00bfff;
    --myBackTheme:rgba(30, 143, 255, 0.3);
}

html ,body{
    height: 100%;
    width: 100%;
    font: var(--myBlack);
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*======= GENERAL ========*/

    /*======= GIF ========*/
.blocGif{
    background: lightblue;
    border: 2px solid black;
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}
.gif{
    height: 300px;
    width: 400px;
    min-width: 400px;
    max-height: 300px;
}
legend{
    font-size: 1.5vmax;
}


.rowForm{
    height: 10% ;
    width: 90%;
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

input{
    border: 0px;
    border-bottom:1px;
    border-color: black;
    border-style: inset;
    background: transparent;
    font-size: 1.2em;
    width: 60%;
}
input:focus{
    outline: none;
}
label{
    font-size: 150%;
    text-decoration: underline;
}

button{
    background: lightblue;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    transition: all 0.5s;

}
button:hover{
    background: whitesmoke;
    transition: all 0.5s;
    transform: translateY(-5px) ;
}
button:active{
    background: var(--myTheme);
    color: white;
}
/*======= COPRS ========*/
#corp{
    width:90%;
    padding: 10px ;
    /*background: seagreen;*/
    height: auto;
    display: flex;
    justify-content: space-between;
}

#Main{
    width: 80%;
    height: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}


#informationUtilisateur{
        background: var(--myTheme);
        height: 200px;
        width: 15%;
        border: 2px var(--myBlack) solid;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
}

#gestionCompte{
    height: 80%;
    width: 90%;
    background: var(--myTheme);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/*======= PAGE CREATION DE POSTE ========*/
#conteneurCreationPoste{
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



#formPosteGIf{
    height: 80%;
    width: 40%;
    background: var(--myTheme);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    box-shadow: 5px 5px 20px black;
    min-width: 450px;
    min-height: 250px;
    border-radius: 10px;
}
#posteApercu{
    height: 80%;
    width: 40%;
    background: var(--myTheme);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow: 5px 5px 20px black;
    min-width: 450px;
    min-height: 250px;
    border-radius: 10px;

}
#apercuBlocGif{
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}
#apercuImg{
    height: 200px;
    width: 300px;
    visibility: hidden;
}


/*============== MODAL ==============*/
#modal{
    background: var(--myWhite);
}
#conteneur-modal{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.input-modal{
    margin: 20px;
    height: 75px;
    width: 90%;
    background: lightblue;
    font-size: 1.7vmax;
    text-align: center ;
}
#conteneur-ChoiceModal{
    height :40px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 5px;
}
.btnModal{
    width: 45%;
    height: 90%;
    border-radius: 5px;
    font-size: 1.7vmax;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cancel{
    background: white;
}
.submit{
    background: lightblue;
}

.iziModal .iziModal-header-subtitle{
    font-size: 15px;
}