:root{
    --myBlack: rgb(30, 30, 30);
    --myWhite:rgb(240, 240, 240);
    --myTheme:#00bfff;
    --myBackTheme:rgba(30, 143, 255, 0.3);
}

html ,body{
    height: 100%;
    width: 100%;
    font: var(--myBlack);
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.conteneur{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.btn-hover:hover{
    background: var(--myTheme);
    transition: all 0.5s;
    transform: translateY(-5px) ;
    cursor: pointer;
}
.btn-focus-disabled:focus{
    text-decoration: none;
    outline: none;
}
/*======= GENERAL ========*/

    /*======= POSTE ========*/
.blocGif{
    background: lightblue;
    border: 2px solid black;
    height: 80%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

.infoUserPoste{
    background: purple;
    width: 15%;
    height: 100%;
}
.blocLegendImagePoste{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.partagePoste{
    width: 10%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.outilsAdmin{
    width: 10%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.btnPartagePoste{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: white;
    transition: all 0.5s;

}
.imgBtnPartagePoste{
    width: 100%;
    height: auto;
}

.figuregif{
    height: 350px;
    width: 400px;
    min-width: 400px;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gif{
    height: 350px;
    width: 400px;
    min-width: 400px;
    min-height: 350px;
}
legend{
    font-size: 1.5vmax;
    text-align: center;
}


.rowForm{
    height: 10% ;
    width: 90%;
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.label{
    font-size: 150%;
    text-decoration: underline;
}

.btn-classique{
    background: lightblue;
    height: auto;
    width: 100px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
    transition: all 0.5s;
    padding: 5px;
}
.btn-classique:hover{
    background: whitesmoke;
    transition: all 0.5s;
    transform: translateY(-5px) ;
    cursor: pointer;
}
.btn-classique:active{
    background: var(--myTheme);
    color: white;
}
/*======= COPRS ========*/
#corp{
    width:90%;
    padding: 10px ;
    /*background: seagreen;*/
    height: auto;
    display: flex;
    justify-content: space-between;
}

#blocGaucheCorpAccueil{
    width: 80%;
    height: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#blocDroitCorpAccueil{
    width: 15%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

#gestionCompte{
    height: 80%;
    width: 50%;
    background: var(--myTheme);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#btnLinkCreationPoste{
    border: 2px solid black;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--myBlack);
    transition: all 0.5s;
    text-decoration: none;
    background:lightgreen;
    margin-bottom: 25px;
    font-size: 1.3vmax;
}
#btnLinkCreationPoste:active{
    color: var(--myBlack);
    background : transparent;
    transition: all 0.5s;
}
#btnLinkCreationPoste:hover{
    background : green;
    transition: all 0.5s;
    transform: translateY(-5px);
    font-size: 1.5vmax;
    color: white;
    cursor: pointer;
}

/*======= PAGE ACCUEIL  ========*/
#NavigationPoste{
    height: 100px;
    width: 90%;
    margin: 50px;
    font-size: 1.5vmax;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Partie changement de page */

#RowChangePage{
    height: 50px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.changePageBlocGauche,.changePageBlocDroit{
    width: 50%;
    height: 100%;
}
.changePageBlocGauche{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.changePageBlocDroit{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.changePageLink{
    border: 2px solid black;
    height: 100%;
    width: 150px;
    border-radius: 5px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--myBlack);
    transition: all 0.5s;
    text-decoration: none;
}
.changePageLink:active{
    color: var(--myBlack);
    background : transparent;
    transition: all 0.5s;
}
.changePageLink:hover{
    background : var(--myTheme);
    transition: all 0.5s;
    transform: translateY(-5px);
    font-size: 1.3vmax;
    cursor: pointer;
}
/*======= PAGE CREATION DE POSTE ========*/
#conteneurCreationPoste{
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



#formPosteGIf{
    height: 80%;
    width: 40%;
    background: var(--myTheme);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    box-shadow: 5px 5px 20px black;
    min-width: 450px;
    min-height: 250px;
    border-radius: 10px;
}
#posteApercu{
    height: 80%;
    width: 40%;
    background: var(--myTheme);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow: 5px 5px 20px black;
    min-width: 450px;
    min-height: 250px;
    border-radius: 10px;

}
#apercuBlocGif{
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}
#apercuImg{
    height: 200px;
    width: 300px;
    visibility: hidden;
}
/*============== MODAL ==============*/
#modal{
    background: var(--myWhite);
}
#conteneur-modal{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.input-modal{
    margin: 20px;
    height: 75px;
    width: 90%;
    background: lightblue;
    font-size: 1.7vmax;
    text-align: center ;
}
#conteneur-ChoiceModal{
    height :40px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 5px;
}
.btnModal{
    width: 45%;
    height: 90%;
    border-radius: 5px;
    font-size: 1.7vmax;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnModal:hover{
    cursor: pointer;
}
.cancel{
    background: white;
}
.submit{
    background: lightblue;
}

.iziModal .iziModal-header-subtitle{
    font-size: 15px;
}


#modal_CopieOK{
    height: 50px;
    min-height: 50px;
    font-size: 1.3em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
.conteneurModal{
    height: 50px;
    min-height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#imgModal{
    height: 60%;
    width: auto;
}
.msgInModal{
    color: green;
    min-height: 20px;
}