<link rel="stylesheet" href="{{ url_for('static', filename= 'css/components_style/Connexion.css') }}">


{% if user == null%}
    <div class="BlocConnexion">

        <h2>Connexion</h2>

        <form action="/login" method="POST">
            <label for="">Pseudo : </label>
            <input type="text" name="pseudo" required>
            <label for="">Mot de passe :</label>
            <input type="password" name="password" required>
            <button class="btn-classique">Envoyer</button>
        </form>

    </div>
{% else %}


        
        <form action="/logout" method="GET" class="BlocConnexion">
            <label for="pseudo">Pseudo :</label>
            <input type="text" name="pseudo" value="{{ user.PseudoUtilisateur }}" disabled>
            
            <label for="pseudo">Nom:</label>
            <input type="text" name="nom" value="{{ user.NomUtilisateur }}" disabled>
            
            <label for="pseudo">Prenom :</label>
            <input type="text" name="pseudo" value="{{ user.PrenomUtilisateur }}" disabled>
            
            <button class="btn-classique">Deconnexion</button>
        </form>



{% endif %} 
