<link rel="stylesheet" href="{{ url_for('static', filename= 'css/components_style/footer.css') }}">



<div id="blocFooter">
    <a href="/A_Propos" class="link-footer h-grow">A PROPOS</a>
    <a href="/Cgu" class="link-footer h-grow">CGU</a>
    <a href="/Contact" class="link-footer h-grow">CONTACT</a>
</div>
<div id="blocFooter2">
    <a href="#" class="link-footer2 ">blabla</a>
    <a href="#" class="link-footer2 ">blabla</a>
    <a href="#" class="link-footer2 ">blalba</a>
    <a href="#" class="link-footer2 ">blabla</a>
    <a href="#" class="link-footer2 ">blabla</a>
    <a href="#" class="link-footer2 ">blalba</a>
    <a href="#" class="link-footer2 ">blabla</a>
    <a href="#" class="link-footer2 ">blabla</a>
    <a href="#" class="link-footer2 ">blalba</a>
    <a href="#" class="link-footer2 ">blabla</a>
    <a href="#" class="link-footer2 ">blabla</a>
    <a href="#" class="link-footer2 ">blalba</a>
    <a href="#" class="link-footer2 ">blabla</a>
    <a href="#" class="link-footer2 ">blabla</a>
    <a href="#" class="link-footer2 ">blalba</a>
    <a href="#" class="link-footer2 ">blabla</a>
    <a href="#" class="link-footer2 ">blabla</a>
    <a href="#" class="link-footer2 ">blalba</a>
</div>
