<link rel="stylesheet" href="{{ url_for('static', filename= 'css/components_style/header.css') }}">

<header>
    <h1 class="cssanimation leWaterWave sequence">WORK IS HARD</h1>
    <nav>

        <a href="/" class="h-grow">Accueil</a>
        <a href="#" class="h-grow" >Aléatoire</a>
        <a href="#" class="h-grow">A propos</a>
        {% if user == null%}
            <a href="/inscription" class="h-grow">Inscription</a>

        {% else %}    
            <a href="/GestionDeCompte" class="h-grow">Mon compte</a>
        {% endif %} 

    </nav>
</header>

