<link rel="stylesheet" href="{{ url_for('static', filename= 'css/components_style/header.css') }}">

<header>
    <h1 class="cssanimation leWaterWave sequence">WORK IS HARD</h1>
    <nav>

        <a href="/" class="h-grow">Accueil</a>
        <a href="#" class="h-grow" >Aléatoire</a>
        <a href="#" class="h-grow">A propos</a>
        {% if user == null%}
            <a href="/inscription" class="h-grow">Inscription</a>
        {% else %}    
            <a href="/GestionDeCompte" class="h-grow">Mon compte</a>
        {% endif %} 

        {% if user != null and user.IdRoleUtilisateur == 2 %}
            <a href="/Moderation" class="h-grow">Moderation</a>

        {% elif user != null and user.IdRoleUtilisateur == 3 %}
            <a href="/Moderation" class="h-grow">Moderation</a>    
            <a href="/Administration" class="h-grow">Administration</a>
        {% endif %} 





    </nav>
</header>

