<link rel="stylesheet" href="{{ url_for('static', filename= 'css/components_style/Information.css') }}">

<div id="conteneurInformation">
    
    <div id="blocMessageInformation">
        <p id="titreMessageInfoInformation">Informations :</p>
        <p id="messageInfoInformation">lore Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa alias architecto ex odit dignissimos, corporis atque veritatis cum dolorem quas mollitia incidunt ullam, facilis vel. Consequatur doloremque quidem omnis maxime.</p>
    </div>

    {% if nbPosteTotal != null%}
        <div id="blocNbPosteInformation">
            <label id="labelNbPosteInformation">Postes totals :</label>
            <input id="NbPosteInformation" type="text" value="{{ nbPosteTotal }}" name="nbPoste" disabled>
        </div>
    {% endif %}

</div>